center > h1{
	font-family:monospace;
}

body > p{
	font-size:32px;
}

.inputval{
	width:255px;
	height:22px;
	outline:none;
}

button{
	border:none;
	outline:none;
	width:100px;
	height:29px;
	cursor:pointer;
	transition:0.4s;
}
button:hover{
	background:#000;
	color:#FFF;	
}
textarea{
	width:300px;
	height:160px;
	outline:none;
}